certifi==2022.12.7
chardet==3.0.4
idna==2.8
pbr==5.1.1
pyTelegramBotAPI==3.6.6
requests==2.21.0
six==1.12.0
stevedore==1.30.0
urllib3==1.24.1
virtualenv==16.2.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
